.wrapper {
  width: 100%;
}

.filterBtn {
  width: 100%;
  height: 56px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.loadMore {
  margin: 0 auto;
  width: 145px;
  height: 56px;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
  .wrapper {
    width: 888px;
  }

  .filterBtn {
    display: none;
  }
}
