.features {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 44px 52px;
  width: 335px;
  height: 588px;
  background-color: var(--inputs);
}

.paramsWrapper {
  max-height: 160px;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
}

@media screen and (min-width: 768px) {
  .features {
    width: 672px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    flex-direction: row;
  }

  .features {
    width: 631px;
  }
}
