.react-datepicker {
  border: none;
  border-radius: 8px;
  background-color: var(--white);
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle,
.react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle {
  fill: var(--text);
  color: var(--text);
}

.react-datepicker__navigation-icon--previous::before,
.react-datepicker__navigation-icon--next::before {
  border-color: var(--text);
}

.react-datepicker__navigation:hover *::before {
  border-color: var();
}

.react-datepicker__header {
  background-color: var(--white);
  border-bottom: 1px solid var(--text);
  border: none;
}

.react-datepicker__header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 1px;
  background-color: var(--text);
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: var(--text);
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 0.166rem;
  transition: var(--animation);
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  margin-top: 0;
  color: var(--main);
  font-family: var(--font-family);

  font-weight: 400;
  font-size: 0.944rem;
}

.react-datepicker__day--selected {
  border-radius: 50%;
  background-color: var(--text);
  color: var(--text);
}

.react-datepicker__day:not([aria-disabled="true"]):hover,
.react-datepicker__month-text:not([aria-disabled="true"]):hover,
.react-datepicker__quarter-text:not([aria-disabled="true"]):hover,
.react-datepicker__year-text:not([aria-disabled="true"]):hover {
  border-radius: 50%;
  background-color: var(--text);
  color: var(--inputs);
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: transparent;
  color: var(--text);
  border-radius: 50%;
}

.react-datepicker__day--outside-month {
  opacity: 0.7;
  border-radius: 50%;
}

.react-datepicker__day--today {
  border-radius: 50%;
  font-weight: bold;
  border: 1px solid var(--text);
}

/*  */
.react-datepicker__calendar-icon {
  width: 18px;
  height: 18px;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  stroke: var(--text);
}

.react-datepicker__view-calendar-icon input {
  padding: 12px 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
}

.react-datepicker__view-calendar-icon input::placeholder {
  color: var(--text);
}

._input_1avcx_67 react-datepicker-ignore-onclickoutside {
  font-size: 14px;
  padding: 12px 14px !important;
}

.react-datepicker__month-container {
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid var(--text);
}

@media screen and (min-width: 768px) {
  .react-datepicker__view-calendar-icon input {
    padding: 12px 18px;
    font-size: 16px;
    line-height: 1.5;
  }
}
