.hero {
  width: 100%;
  height: 696px;
  background-image: url("../../img/hero/Camper.webp");
  background-size: cover;
  background-position: 30%;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
}

@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image: url("../../img/hero/Camper@2x.webp");
    background-size: cover;
  }
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  color: var(--inputs);
  margin-bottom: 24px;
}

.text {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: var(--inputs);
  margin-bottom: 40px;
}

.button {
  width: 173px;
  height: 56px;
}

@media screen and (min-width: 758px) {
  .hero {
    background-position: 25%;
  }

  .title {
    font-weight: 600;
    font-size: 48px;
    line-height: 0.7;
    margin-bottom: 16px;
  }

  .text {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 40px;
  }

  .button {
    width: 173px;
    height: 56px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    background-position: center;
  }
}
